body{
    color:#fff;

}

.answers{
display: flex;
margin-bottom: 0.8rem;
width: 100%;
border-radius: 4px;
background: rgb(18, 93, 255);
font-size: 3rem;
min-width: 80rem;
cursor: pointer;
}

.letter{
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

#score{
    display: flex;

}

.correct{
    background: linear-gradient(32deg, rgba(11,233,36)0%, rgb(41, 232,111)100%);
}
.incorrect{
    background: linear-gradient(32deg, rgba(230,29,29)0%, rgb(224, 11,11)100%);
}